:root {
    --underline-border-color: #DCDCDC;
}

.infoCss {
    border: 1px solid var(--underline-border-color);
}

.Button {
    color: #1890FF;
    background-color: white;
    border: 1px solid var(--underline-border-color);
}

.el-collapse-item__header {
    padding: 16px !important;
    background-color: #FAFAFA !important;
}

.el-collapse-item__content {
    padding-bottom: 0 !important;
}

.el-select--large .el-select__wrapper {
    min-height: 30px !important;
}

.el-form-item__label-wrap {
    margin-right: 0 !important;
}