:root {
    --underline-border-color: #DCDCDC;
}

.infoCss {
    border: 1px solid var(--underline-border-color);
}

.Button {
    color: #1890FF;
    background-color: white;
    border: 1px solid var(--underline-border-color);
}
