.el-collapse-item__header {
    padding: 16px !important;
    background-color: #FAFAFA !important;
}

.el-collapse-item__content {
    padding-bottom: 0 !important;
}

.el-select--large .el-select__wrapper {
    min-height: 30px !important;
}

.el-form-item__label-wrap {
    margin-right: 0 !important;
}

.el-input__wrapper {
    align-items: flex-start !important;
}

.el-dialog header {
    margin-bottom: 16px;
    border-bottom: 1px solid var(--underline-border-color);
}

.el-dialog__footer {
    text-align: left !important;
}

.el-drawer {
    width: 921px !important;
}

.el-drawer__body>* {
    border: 1px solid var(--underline-border-color);
}

.el-drawer .el-input__wrapper {
    padding: 6px;
    border-radius: 0;
}

.el-form-item__content .el-textarea__inner {
    min-height: none !important;
    height: 361px !important;
}

.add .el-textarea__inner {
    height: 176px !important;
}

.pop {
    width: 120px !important;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    min-width: 100px !important;
    inset: 55.2px auto auto 1395px !important;
    box-sizing: border-box;
    text-align: left;
}

.pop .out {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #FE1212;
    cursor: pointer;
}

.pop .out:hover {
    background-color: #F5F5F5;
}

.pop .out img {
    width: 15px;
    margin-right: 10px;
}