body,
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
#app {
    padding: 0 !important;
    margin: 0 !important;
}

#app {
    max-width: 1920px;
    text-align: left;
}

body {
    display: block;
    place-items: stretch;
    background-color: #F8F9FB;
}

button:hover {
    color: #1890FF;
    border-color: var(--underline-border-color);
}

button:focus {
    outline: none;
}

html {
    line-height: 1.2;
}

ul li {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    vertical-align: top;
}

button {
    border-radius: 0px;
    padding: 10px 16px;
}